<div class="rounded-xl bg-white border-2 border-[#cbcbcb] flex overflow-hidden mb-5">
	<div class="bg-[#cbcbcb] w-3/4 p-5">
		<div class="flex justify-between mb-2">
			<div class="flex">
				<img src="https://cdn.shopify.com/s/files/1/0705/5133/9248/files/Toggle.png?v=1715766168" class="mr-3" loading="eager" width="50" height="50">
				<span class="font-bold">Nordstick</span>
			</div>
			<span class="text-[#7602A4] font-bold">$39.97</span>
		</div>
		<div class="flex">
			<img src="https://cdn.shopify.com/s/files/1/0705/5133/9248/files/check_1_1.png?v=1715766201" class="mx-3" loading="eager" width="30" height="30">
			<span class="underline">NORDIC CURLS</span>
		</div>
	</div>
	<div class="w-1/4 rounded-xl">
		<img src="https://cdn.shopify.com/s/files/1/0705/5133/9248/files/Product_Image.png?v=1715766202" loading="eager" width="200" height="200">
	</div>
</div>