<div class="flex mb-3">
	<img src="https://cdn.shopify.com/s/files/1/0705/5133/9248/files/Vector_1.png?v=1715775991" class="mr-3" loading="eager" width="20" height="20">
	<p>Over <span class="text-[#7602A4]">999</span> people have this in their carts</p>
</div>
<div class="flex justify-between">
	<div class="text-center">
		<img src="https://cdn.shopify.com/s/files/1/0705/5133/9248/files/Group_32_1.png?v=1715776154" class="mx-auto mt-1" loading="eager" width="70" height="70">
		<p>2 Day Fast<br> Shipping</p>
	</div>
	<div class="text-center">
		<img src="https://cdn.shopify.com/s/files/1/0705/5133/9248/files/shield_4_1_1.png?v=1715776154" class="mx-auto" loading="eager" width="50" height="50">
		<p>Safe & Secure<br> Checkout</p>
	</div>
	<div class="text-center">
		<img src="https://cdn.shopify.com/s/files/1/0705/5133/9248/files/users_1_1.png?v=1715776154" class="mx-auto" loading="eager" width="50" height="50">
		<p>Trusted by<br> 150k +</p>
	</div>
</div>