<div class="flex justify-between">
	<img src="https://cdn.shopify.com/s/files/1/0705/5133/9248/files/Instagram_Video_Post.png?v=1715774917" loading="eager" width="80" height="80">
	<img src="https://cdn.shopify.com/s/files/1/0705/5133/9248/files/Instagram_Video_Post_1.png?v=1715774916" loading="eager" width="80" height="80">
	<img src="https://cdn.shopify.com/s/files/1/0705/5133/9248/files/Instagram_Video_Post_2.png?v=1715774917" loading="eager" width="80" height="80">
	<img src="https://cdn.shopify.com/s/files/1/0705/5133/9248/files/Instagram_Video_Post_3.png?v=1715774916" loading="eager" width="80" height="80">
</div>