<div class="relative">
	<div class="absolute text-white bg-[#7602A4] rounded-md bottom-[-35px] left-[25px] text-sm px-3 py-1">Most Popular - Save 40%</div>
</div>
<div class="rounded-xl border-2 border-[#7602A4] flex flex-col mt-5 overflow-hidden">
	<div class="flex justify-between bg-[#f5ddff] pt-7 px-5 pb-3">
		<div class="flex">
			<img src="https://cdn.shopify.com/s/files/1/0705/5133/9248/files/Toggle.png?v=1715766168" class="mr-3" loading="eager" width="50" height="50">
			<span class="text-[#7602A4] font-semibold">THE PRO BUNDLE</span>
		</div>
		<div>
			<span class="line-through mr-3 text-[#414141]">$220</span>
			<span class="text-[#7602A4] font-bold">$150</span>
		</div>
	</div>

	<div class="bg-white flex text-center">
		<div class="w-1/3">
			<img src="https://cdn.shopify.com/s/files/1/0705/5133/9248/files/Nordstick_1_DSC00190_1.png?v=1715774142" loading="eager" width="100" height="100" class="mx-auto">
			<p>Nordstick</p>
		</div>
		<div class="w-1/3">
			<img src="https://cdn.shopify.com/s/files/1/0705/5133/9248/files/Mask_group_1.png?v=1715774142" loading="eager" width="100" height="200" class="mx-auto">
			<p>Nordpad Pro</p>
		</div>
		<div class="w-1/3">
			<img src="https://cdn.shopify.com/s/files/1/0705/5133/9248/files/Product_Image_1.png?v=1715774142" loading="eager" width="100" height="100" class="mx-auto">
			<p>Omnibands</p>
		</div>
	</div>

	<div class="bg-white flex">
		<div class="w-2/3 bg-[#f5ddff] px-2 py-3">
			<div class="flex items-start mb-1">
				<img src="https://cdn.shopify.com/s/files/1/0705/5133/9248/files/check_1_1.png?v=1715766201" class="mx-3 object-contain" loading="eager" width="30" height="30">
				<p class="underline">NORDIC CURLS +<br> REVERSE NORDIC CURLS</p>
			</div>
			<div class="flex mb-1">
				<img src="https://cdn.shopify.com/s/files/1/0705/5133/9248/files/check_1_1.png?v=1715766201" class="mx-3" loading="eager" width="30" height="30">
				<p class="underline">SIT-UPS</p>
			</div>
			<div class="flex">
				<img src="https://cdn.shopify.com/s/files/1/0705/5133/9248/files/check_1_1.png?v=1715766201" class="mx-3" loading="eager" width="30" height="30">
				<p class="underline">PLANKS & SIDE PLANKS</p>
			</div>
		</div>
		<div class="w-1/3 text-center">
			<img src="https://cdn.shopify.com/s/files/1/0705/5133/9248/files/Screenshot_2024-04-13_at_2.01_1.png?v=1715774142" loading="eager" width="100" height="100" class="mx-auto">
			<p>Training Guide</p>
		</div>
	</div>

</div>