
<div class="bg-[#f4efeb] px-5 py-8 sm:p-12 text-black">
	<div class="flex flex-col sm:flex-row gap-7 items-center mx-auto justify-center">
		<div class="border-l-4 border-[#7602A4] pl-5 text-2xl">
			Why you'll love<br>
			the <span class="text-[#7602A4]">Nordstick Pro</span>
		</div>
		<div class="flex flex-col">
			<div class="grid grid-cols-1 sm:grid-cols-2 gap-5">
				<div class="flex">
					<img src="https://cdn.shopify.com/s/files/1/0705/5133/9248/files/Icon_-_watch.png?v=1715867859" class="mx-3 object-contain" loading="lazy" width="48" height="48">
					<p>Easily set-ups in<br> seconds</p>
				</div>
				<div class="flex">
					<img src="https://cdn.shopify.com/s/files/1/0705/5133/9248/files/Icon_-_Science.png?v=1715867859" class="mx-3 object-contain" loading="lazy" width="48" height="48">
					<p>Scientifically<br> proven</p>
				</div>
				<div class="flex">
					<img src="https://cdn.shopify.com/s/files/1/0705/5133/9248/files/Layer_25.png?v=1715867859" class="mx-3 object-contain" loading="lazy" width="48" height="48">
					<p>Takes up virtually<br> no space</p>
				</div>
				<div class="flex">
					<img src="https://cdn.shopify.com/s/files/1/0705/5133/9248/files/Icon_-_wallet.png?v=1715867859" class="mx-3 object-contain" loading="lazy" width="48" height="48">
					<p>1/10 the price of other<br> Nordic benches</p>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="flex flex-col xl:flex-row relative">
	<div class="w-full xl:w-3/4 bg-white p-5 xl:p-10 flex items-center h-auto xl:h-[600px]">
		<div class="flex flex-col xl:flex-row relative xl:absolute max-w-[1200px] left-0 right-0 mx-auto gap-10 -mb-[60%] xl:mb-0">
			<div>
				<img src="https://cdn.shopify.com/s/files/1/0705/5133/9248/files/Icon_-_Science.png?v=1715867859" class="mb-3 object-contain" loading="lazy" width="48" height="48">
				<p class="text-[#7602A4] mb-3">SCIENTIFICIALLY PROVEN</p>
				<h3 class="text-black text-2xl mb-3">Proven to strengthen & reduce injury risk</h3>
				<p class="text-black mb-5">Scientific research claims that Nordic Curls can increase range of motion and joint lubrication of the knee, which can prevent stiffness and degeneration</p>
				<button class="bg-[#7602A4] rounded-md px-6 py-3 tracking-widest">BUY NOW & SAVE 20%</button>
			</div>
			<img src="https://cdn.shopify.com/s/files/1/0705/5133/9248/files/Nordstick_Nordic_1.png?v=1715945597" class="mx-auto xl:mx-0" width="560" height="456" loading="lazy">
		</div>
	</div>
	<div class="w-full h-[260px] md:h-[500px] xl:h-auto xl:w-1/4 bg-[#cbcbcb]"></div>
</div>


<div class="flex flex-col xl:flex-row relative">
	<div class="w-full h-[260px] xl:h-auto xl:w-1/4 bg-[#e2d4c6]"></div>
	<div class="w-full xl:w-3/4 bg-[#f4efeb] p-5 xl:p-10 flex items-center h-auto xl:h-[600px]">
		<div class="flex flex-col xl:flex-row relative xl:absolute max-w-[1200px] left-0 right-0 mx-auto gap-10 -mt-[60%] xl:mt-0">
			<img src="https://cdn.shopify.com/s/files/1/0705/5133/9248/files/NordStick_Nordic-Curls_Strong_Knees_1.png?v=1715948066" class="mx-auto xl:mx-0" width="560" height="456" loading="lazy">
			<div>
				<img src="https://cdn.shopify.com/s/files/1/0705/5133/9248/files/Icon_-_knees.png?v=1715948065" class="mb-3 object-contain" loading="lazy" width="48" height="48">
				<p class="text-[#7602A4] mb-3">BUILD HEALTHY KNEES</p>
				<h3 class="text-black text-2xl mb-3">Makes your knees feel significantly younger</h3>
				<p class="text-black mb-5">Scientific research claims that Nordic Curls can increase range of motion and joint lubrication of the knee, which can prevent stiffness and degeneration</p>
				<button class="bg-[#7602A4] rounded-md px-6 py-3 tracking-widest">BUY NOW & SAVE 20%</button>
			</div>
		</div>
	</div>
</div>


<div class="relative">
	<div class="h-[750px] xl:h-[450px] bg-white">
		
	</div>
	<div class="h-[750px] xl:h-[450px] bg-[#671c28]">

	</div>
	<div class="absolute p-5 max-w-[1200px] left-0 right-0 mx-auto flex flex-col top-0 xl:top-[50%] xl:-translate-y-[50%] text-black text-center">
		<p class="text-[#7602A4] mb-3 text-sm">EASY SET-UP</p>
		<p class="mb-8 text-2xl w-full xl:w-[30%] mx-auto">Healthier hamstrings & knees are easy as <span class="text-[#7602A4]">1, 2, 3</span></p>
		<div class="flex flex-col xl:flex-row gap-6">
			<div class="w-full xl:w-1/3 rounded-md bg-white overflow-hidden">
				<img src="https://cdn.shopify.com/s/files/1/0705/5133/9248/files/Nord_040724_94_2.png?v=1715949220" class="object-contain w-full" loading="lazy" width="326" height="218">
				<div class="relative py-9 px-6">
					<span class="rounded-full text-[#7602A4] bg-[#f4efeb] absolute -top-[28px] mx-auto w-fit left-0 right-0 py-3 px-4 text-sm">
						01
					</span>
					<p class="text-xl mb-3">Step 1</p>
					<p>Slide the Nordstick under the bottom your door, and close the door</p>
				</div>
			</div>
			<div class="w-full xl:w-1/3 rounded-md bg-white overflow-hidden">
				<img src="https://cdn.shopify.com/s/files/1/0705/5133/9248/files/Nord_040724_1112_1.png?v=1715949220" class="object-contain w-full" loading="lazy" width="326" height="218">
				<div class="relative py-9 px-6">
					<span class="rounded-full text-[#7602A4] bg-[#f4efeb] absolute -top-[28px] mx-auto w-fit left-0 right-0 py-3 px-4 text-sm">
						02
					</span>
					<p class="text-xl mb-3">Step 2</p>
					<p>Pull the strap tight and make sure your feet are snug against the door</p>
				</div>
			</div>
			<div class="w-full xl:w-1/3 rounded-md bg-white overflow-hidden">
				<img src="https://cdn.shopify.com/s/files/1/0705/5133/9248/files/Nord_040724_173_1.png?v=1715949221" class="object-cover w-full max-h-[250px]" loading="lazy" width="326" height="218">
				<div class="relative py-9 px-6">
					<span class="rounded-full text-[#7602A4] bg-[#f4efeb] absolute -top-[28px] mx-auto w-fit left-0 right-0 py-3 px-4 text-sm">
						03
					</span>
					<p class="text-xl mb-3">Step 3</p>
					<p>Perform multiple Nordic Curls and reap the benefits of healthier, stronger knees & hamstrings in just 6 weeks!</p>
				</div>
			</div>
		</div>

		<button class="rounded-md px-10 py-3 tracking-widest text-white bg-[#671c28] border-white border-[1px] mt-10 hidden xl:block mx-auto w-fit">
			BUY NOW & SAVE 20%
		</button>
	</div>
</div>

<div class="bg-[#f5f2ef] px-5 py-10 text-black">
	<div class="max-w-[1000px] mx-auto">
		<h3 class="text-2xl mb-5 text-left xl:text-center">Built with research backed results</h3>
		<div class="w-[50px] h-[5px] bg-[#7602A4] mb-8 lg:mx-auto"></div>
		<div class="flex flex-col xl:flex-row gap-5">
			<div class="shadow-lg rounded-md px-5 py-8 text-left w-full xl:w-1/3 bg-white">
				<img src="https://cdn.shopify.com/s/files/1/0705/5133/9248/files/Icon_-_Strength.png?v=1715955608" class="mb-2 object-contain" loading="lazy" width="60" height="60">
				<p class="text-4xl mb-3"><span class="text-[#7602A4]">+</span>30-40%</p>
				<button class="rounded-md py-2 tracking-wider text-white bg-[#7602A4] mb-3 w-full">
					MORE STRENGTH
				</button>
				<p>More muscle activation with eccentric overload.</p>
			</div>
			<div class="shadow-lg rounded-md px-5 py-8 text-left w-full xl:w-1/3 bg-white">
				<img src="https://cdn.shopify.com/s/files/1/0705/5133/9248/files/Icon_-_Knee_Heal.png?v=1715955608" class="mb-2 object-contain" loading="lazy" width="60" height="60">
				<p class="text-4xl mb-3"><span class="text-[#7602A4]">></span>51%</p>
				<button class="rounded-md py-2 tracking-wider text-white bg-[#7602A4] mb-3 w-full">
					HEAL YOUR KNEE
				</button>
				<p>Nordic curls reduce injury risk by greater than 51%</p>
			</div>
			<div class="shadow-lg rounded-md px-5 py-8 text-left w-full xl:w-1/3 bg-white">
				<img src="https://cdn.shopify.com/s/files/1/0705/5133/9248/files/Icon_-_Heal.png?v=1715955608" class="mb-2 object-contain" loading="lazy" width="60" height="60">
				<p class="text-4xl mb-3"><span class="text-[#7602A4]">+</span>2x-4x</p>
				<button class="rounded-md py-2 tracking-wider text-white bg-[#7602A4] mb-3 w-full">
					RE-INJURY RISK
				</button>
				<p>2x more hamstring muscle activation than deadlifts and 4x more hamstring muscle activation than squats.</p>
			</div>
		</div>
	</div>
</div>

<div class="flex flex-col xl:flex-row">
	<div class="w-full xl:w-1/2 flex flex-col p-5 xl:p-10 bg-[#f4efeb] text-black order-2 xl:order-1">
		<h3 class="text-3xl mb-5">Making hamstring training effective & <span class="text-[#7602A4]">accessible for everyone</span></h3>
		<p class="mb-5 text-[#414141]">"Stronger hamstrings not only enhance performance but are fundamental in reducing the risk of both hamstring strains & ACL injuries. Our mission at NordStick is to make effective, science-backed hamstring training accessible to everyone, at a fair price."</p>
		<img src="https://cdn.shopify.com/s/files/1/0705/5133/9248/files/Avatar.png?v=1715956903" class="mb-2 object-contain" loading="lazy" width="60" height="60">
		<p class="text-xl mb-3">Garret Drumheller</p>
		<p class="text-[#7602A4] text-sm">PHYSICAL THERAPIST</p>
	</div>
	<div class="w-full xl:w-1/2 order-1 xl:order-2">
		<img src="https://cdn.shopify.com/s/files/1/0705/5133/9248/files/image_11.png?v=1715956909" class="w-full object-contain" loading="lazy" width="600" height="600">
	</div>
</div>

<div class="py-10 px-5 bg-white overflow-x-scroll">
	<div class="grid grid-cols-2 w-[800px] shadow-lg rounded-md overflow-hidden mx-auto">
		<div>
			<div class="h-[250px] relative">
				<img src="https://cdn.shopify.com/s/files/1/0705/5133/9248/files/Nordstick_1_DSC00190_1_2.png?v=1715958189" class="w-full object-contain max-h-[250px]" loading="lazy" width="388" height="246">
				<img src="https://cdn.shopify.com/s/files/1/0705/5133/9248/files/Main_Logo_1.png?v=1715958189" class="absolute bottom-7 left-5" loading="lazy" width="205" height="19">
			</div>
			<div class="bg-[#7602A4] p-3">
				<img src="https://cdn.shopify.com/s/files/1/0705/5133/9248/files/check_1_1_1.png?v=1715959243" class="inline" loading="lazy" width="24" height="24"> Great for Nordic Curls
			</div>
			<div class="text-black p-3">
				<img src="https://cdn.shopify.com/s/files/1/0705/5133/9248/files/check_1_1_2.png?v=1715959243" class="inline" loading="lazy" width="24" height="24"> Lightweight and portable (1 lb)
			</div>
			<div class="bg-[#7602A4] p-3">
				<img src="https://cdn.shopify.com/s/files/1/0705/5133/9248/files/check_1_1_1.png?v=1715959243" class="inline" loading="lazy" width="24" height="24"> Rated to 500 pounds
			</div>
			<div class="text-black p-3">
				<img src="https://cdn.shopify.com/s/files/1/0705/5133/9248/files/check_1_1_2.png?v=1715959243" class="inline" loading="lazy" width="24" height="24"> Premium 1 inch foam rollers
			</div>
			<div class="bg-[#7602A4] p-3">
				<img src="https://cdn.shopify.com/s/files/1/0705/5133/9248/files/check_1_1_1.png?v=1715959243" class="inline" loading="lazy" width="24" height="24"> One size fits all
			</div>
			<div class="text-black p-3">
				<img src="https://cdn.shopify.com/s/files/1/0705/5133/9248/files/check_1_1_2.png?v=1715959243" class="inline" loading="lazy" width="24" height="24"> Sets up in seconds, easy storage
			</div>
			<div class="bg-[#7602A4] p-3">
				<img src="https://cdn.shopify.com/s/files/1/0705/5133/9248/files/check_1_1_1.png?v=1715959243" class="inline" loading="lazy" width="24" height="24"> 14" wide steel tube for foot hold
			</div>
			<div class="text-black p-3">
				<img src="https://cdn.shopify.com/s/files/1/0705/5133/9248/files/check_1_1_2.png?v=1715959243" class="inline" loading="lazy" width="24" height="24"> Affordable ($60)
			</div>
		</div>
		<div>
			<div class="flex items-center bg-[#414141] h-[250px] relative">
				<img src="https://cdn.shopify.com/s/files/1/0705/5133/9248/files/Nordic_Bench_1.png?v=1715958195" class="mx-auto object-contain" loading="lazy" width="264" height="168">
				<p class="text-white absolute bottom-6 left-5 font-bold text-xl">Nordic Bench</p>
			</div>
			<div class="text-[#282828] bg-[#CBCBCB] p-3">
				<img src="https://cdn.shopify.com/s/files/1/0705/5133/9248/files/check_1_1_3.png?v=1715959243" class="inline" loading="lazy" width="24" height="24"> Great for Nordic Curls
			</div>
			<div class="text-[#282828] bg-[#f4efeb] p-3">
				<img src="https://cdn.shopify.com/s/files/1/0705/5133/9248/files/x.png?v=1715959243" class="inline" loading="lazy" width="24" height="24"> Lightweight and portable (108 lb)
			</div>
			<div class="text-[#282828] bg-[#CBCBCB] p-3">
				<img src="https://cdn.shopify.com/s/files/1/0705/5133/9248/files/check_1_1_3.png?v=1715959243" class="inline" loading="lazy" width="24" height="24"> Rated to 500 pounds
			</div>
			<div class="text-[#282828] bg-[#f4efeb] p-3">
				<img src="https://cdn.shopify.com/s/files/1/0705/5133/9248/files/check_1_1_3.png?v=1715959243" class="inline" loading="lazy" width="24" height="24"> Premium 1 inch foam rollers
			</div>
			<div class="text-[#282828] bg-[#CBCBCB] p-3">
				<img src="https://cdn.shopify.com/s/files/1/0705/5133/9248/files/check_1_1_3.png?v=1715959243" class="inline" loading="lazy" width="24" height="24"> One size fits all
			</div>
			<div class="text-[#282828] bg-[#f4efeb] p-3">
				<img src="https://cdn.shopify.com/s/files/1/0705/5133/9248/files/x.png?v=1715959243" class="inline" loading="lazy" width="24" height="24"> Long set up time, big & bulky
			</div>
			<div class="text-[#282828] bg-[#CBCBCB] p-3">
				<img src="https://cdn.shopify.com/s/files/1/0705/5133/9248/files/check_1_1_3.png?v=1715959243" class="inline" loading="lazy" width="24" height="24"> 14" wide steel tube for foot hold
			</div>
			<div class="text-[#282828] bg-[#f4efeb] p-3">
				<img src="https://cdn.shopify.com/s/files/1/0705/5133/9248/files/x.png?v=1715959243" class="inline" loading="lazy" width="24" height="24"> Not affordable ($600)
			</div>
		</div>
	</div>
</div>

{% schema %}
	{
		"name": "Custom Nordstick 1",
		"tag": "section",
		"settings": [],
		"presets": [
			{
				"name": "Custom Nordstick 1",
				"category": "Custom"
			}
		],
		"templates": [
			"product"
		]
	}
	{% endschema %}