<div class="flex">
	<div class="w-1/3 bg-[#7602A4]"></div>
	<div class="w-2/3 bg-white relative p-5 sm:p-10 flex items-center">
		<img src="https://cdn.shopify.com/s/files/1/0705/5133/9248/files/Group_45.png?v=1715865885" class="-ml-[45%] sm:-ml-[25%] max-w-[300px] sm:max-w-[100%]" width="1000" height="600" loading="lazy">
		<img src="https://cdn.shopify.com/s/files/1/0705/5133/9248/files/Main_Logo.png?v=1715865882" class="w-[100px] sm:w-[170px] absolute top-[63%] -left-[17%] sm:-left-[4%]" width="170" height="20" loading="lazy">
	</div>
</div>

{% schema %}
	{
		"name": "Image with two BG colors",
		"tag": "section",
		"settings": [],
		"presets": [
			{
				"name": "Image with two BG colors",
				"category": "Custom"
			}
		],
		"templates": [
			"product"
		]
	}
	{% endschema %}