<div {% render 'section-properties' %}>
  {%- render 'section-spacing-collapsing' -%}
  {% render 'button', content: 'Link', style: 'link' %}
  <p style="margin:var(--spacing-10) 0 var(--spacing-2)" class="text-eyebrow">Basic Button Fill</p>
  {% render 'button', content: 'Fill' %}
  {% render 'button', content: 'Fill SM', size: 'sm' %}
  {% render 'button', content: 'Fill LG', size: 'lg' %}
  {% render 'button', content: 'Fill LG', size: 'xl' %}
  <div style="margin-bottom:var(--spacing-3)"></div>
  {% render 'button', content: 'Fill Stretch', stretch: true %}
  <p style="margin:var(--spacing-10) 0 var(--spacing-2)" class="text-eyebrow">Basic Button Fill - Secondary</p>
  {% render 'button', content: 'Fill Secondary', secondary: true %}
  {% render 'button', content: 'Fill Secondary SM', size: 'sm', secondary: true %}
  {% render 'button', content: 'Fill Secondary LG', size: 'lg', secondary: true %}
  {% render 'button', content: 'Fill Secondary XL', size: 'xl', secondary: true %}
  <div style="margin-bottom:var(--spacing-3)"></div>
  {% render 'button', content: 'Fill Secondary Stretch', secondary: true, stretch: true %}
  <p style="margin:var(--spacing-10) 0 var(--spacing-2)" class="text-eyebrow">Basic Button Fill - Disabled</p>
  {% render 'button', content: 'Fill Disabled', disabled: true %}
  {% render 'button', content: 'Fill Disabled SM', size: 'sm', disabled: true %}
  {% render 'button', content: 'Fill Disabled LG', size: 'lg', disabled: true %}
  {% render 'button', content: 'Fill Disabled XL', size: 'xl', disabled: true %}
  <div style="margin-bottom:var(--spacing-3)"></div>
  {% render 'button', content: 'Fill Disabled Stretch', stretch: true, disabled: true %}
  <p style="margin:var(--spacing-10) 0 var(--spacing-2)" class="text-eyebrow">Basic Button Fill - Secondary - Disabled</p>
  {% render 'button', content: 'Fill Disabled Secondary', secondary: true, disabled: true %}
  {% render 'button', content: 'Fill Disabled Secondary SM', size: 'sm', secondary: true, disabled: true %}
  {% render 'button', content: 'Fill Disabled Secondary LG', size: 'lg', secondary: true, disabled: true %}
  {% render 'button', content: 'Fill Disabled Secondary XL', size: 'xl', secondary: true, disabled: true %}
  <div style="margin-bottom:var(--spacing-3)"></div>
  {% render 'button', content: 'Fill Disabled Secondary Stretch', secondary: true, stretch: true, disabled: true %}
  <p style="margin:var(--spacing-10) 0 var(--spacing-2)" class="text-eyebrow">Basic Button Fill - Subdued</p>
  {% render 'button', content: 'Fill Subdued', subdued: true %}
  {% render 'button', content: 'Fill Subdued SM', size: 'sm', subdued: true %}
  {% render 'button', content: 'Fill Subdued LG', size: 'lg', subdued: true %}
  {% render 'button', content: 'Fill Subdued XL', size: 'xl', subdued: true %}
  <div style="margin-bottom:var(--spacing-3)"></div>
  {% render 'button', content: 'Fill Subdued Stretch', stretch: true, subdued: true %}
  <p style="margin:var(--spacing-10) 0 var(--spacing-2)" class="text-eyebrow">Basic Button Fill - Secondary - Subdued</p>
  {% render 'button', content: 'Fill Subdued Secondary', secondary: true, subdued: true %}
  {% render 'button', content: 'Fill Subdued Secondary SM', size: 'sm', secondary: true, subdued: true %}
  {% render 'button', content: 'Fill Subdued Secondary LG', size: 'lg', secondary: true, subdued: true %}
  {% render 'button', content: 'Fill Subdued Secondary XL', size: 'xl', secondary: true, subdued: true %}
  <div style="margin-bottom:var(--spacing-3)"></div>
  {% render 'button', content: 'Fill Subdued Secondary Stretch', stretch: true, secondary: true, subdued: true %}
  
  <p style="margin:var(--spacing-10) 0 var(--spacing-2)" class="text-eyebrow">Basic Button Outline</p>
  {% render 'button', content: 'Outline', style: 'outline' %}
  {% render 'button', content: 'Outline SM', size: 'sm', style: 'outline' %}
  {% render 'button', content: 'Outline LG', size: 'lg', style: 'outline' %}
  {% render 'button', content: 'Outline LG', size: 'xl', style: 'outline' %}
  <div style="margin-bottom:var(--spacing-3)"></div>
  {% render 'button', content: 'Outline Stretch', stretch: true, style: 'outline' %}
  <p style="margin:var(--spacing-10) 0 var(--spacing-2)" class="text-eyebrow">Basic Button Outline - Secondary</p>
  {% render 'button', content: 'Outline Secondary', secondary: true, style: 'outline' %}
  {% render 'button', content: 'Outline Secondary SM', size: 'sm', secondary: true, style: 'outline' %}
  {% render 'button', content: 'Outline Secondary LG', size: 'lg', secondary: true, style: 'outline' %}
  {% render 'button', content: 'Outline Secondary XL', size: 'xl', secondary: true, style: 'outline' %}
  <div style="margin-bottom:var(--spacing-3)"></div>
  {% render 'button', content: 'Outline Secondary Stretch', secondary: true, stretch: true, style: 'outline' %}
  <p style="margin:var(--spacing-10) 0 var(--spacing-2)" class="text-eyebrow">Basic Button Outline - Disabled</p>
  {% render 'button', content: 'Outline Disabled', disabled: true, style: 'outline' %}
  {% render 'button', content: 'Outline Disabled SM', size: 'sm', disabled: true, style: 'outline' %}
  {% render 'button', content: 'Outline Disabled LG', size: 'lg', disabled: true, style: 'outline' %}
  {% render 'button', content: 'Outline Disabled XL', size: 'xl', disabled: true, style: 'outline' %}
  <div style="margin-bottom:var(--spacing-3)"></div>
  {% render 'button', content: 'Outline Disabled Stretch', stretch: true, disabled: true, style: 'outline' %}
  <p style="margin:var(--spacing-10) 0 var(--spacing-2)" class="text-eyebrow">Basic Button Outline - Secondary - Disabled</p>
  {% render 'button', content: 'Outline Disabled Secondary', secondary: true, disabled: true, style: 'outline' %}
  {% render 'button', content: 'Outline Disabled Secondary SM', size: 'sm', secondary: true, disabled: true, style: 'outline' %}
  {% render 'button', content: 'Outline Disabled Secondary LG', size: 'lg', secondary: true, disabled: true, style: 'outline' %}
  {% render 'button', content: 'Outline Disabled Secondary XL', size: 'xl', secondary: true, disabled: true, style: 'outline' %}
  <div style="margin-bottom:var(--spacing-3)"></div>
  {% render 'button', content: 'Outline Disabled Secondary Stretch', secondary: true, stretch: true, disabled: true, style: 'outline' %}
  <p style="margin:var(--spacing-10) 0 var(--spacing-2)" class="text-eyebrow">Basic Button Outline - Subdued</p>
  {% render 'button', content: 'Outline Subdued', subdued: true, style: 'outline' %}
  {% render 'button', content: 'Outline Subdued SM', size: 'sm', subdued: true, style: 'outline' %}
  {% render 'button', content: 'Outline Subdued LG', size: 'lg', subdued: true, style: 'outline' %}
  {% render 'button', content: 'Outline Subdued XL', size: 'xl', subdued: true, style: 'outline' %}
  <div style="margin-bottom:var(--spacing-3)"></div>
  {% render 'button', content: 'Outline Subdued Stretch', stretch: true, subdued: true, style: 'outline' %}
  <p style="margin:var(--spacing-10) 0 var(--spacing-2)" class="text-eyebrow">Basic Button Outline - Secondary - Subdued</p>
  {% render 'button', content: 'Outline Subdued Secondary', secondary: true, subdued: true, style: 'outline' %}
  {% render 'button', content: 'Outline Subdued Secondary SM', size: 'sm', secondary: true, subdued: true, style: 'outline' %}
  {% render 'button', content: 'Outline Subdued Secondary LG', size: 'lg', secondary: true, subdued: true, style: 'outline' %}
  {% render 'button', content: 'Outline Subdued Secondary XL', size: 'xl', secondary: true, subdued: true, style: 'outline' %}
  <div style="margin-bottom:var(--spacing-3)"></div>
  {% render 'button', content: 'Outline Subdued Secondary Stretch', stretch: true, secondary: true, subdued: true, style: 'outline' %}
</div>


{% schema %}
{
  "name": "Preview Global Snippets",
  "class": "shopify-section--preview",
  "tag": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "scheme",
      "label": "Color Scheme"
    }
  ],
  "presets": [
    {
      "name": "Preview Global Snippets"
    }
  ]
}
{% endschema %}